/* Fonts */
@font-face {
    font-family: "myFont";
    src: url('../lemonmilk.otf');
}

.ru_nav{
    font-family: myFont;
}

/* Others */
body .add.chat{
    width: 70%;
}

body .add.chat .form.chat{
    padding-left: 150px;
}

body .add.chat .info.chat{
    padding-left: 50px;
}

body .add.chat .button.chat{
    right: 60px;
}

body .add .form .form-group .form-control#exp_id{
    cursor: pointer;
}

@media only screen and (max-width: 1017px){
    body .add.messageBoard{
        width: 80%;
    }
    body .add.messageBoard .form.messageBoard{
        padding-left: 100px;
    }
    body .add.messageBoard .button.messageBoard{
        right: 40px;
    }
    body .add.messageBoard .form.messageBoard .form-control{
        margin-right: 1px;
    }
    


}