
.login{
    margin-top: 8%;
    margin-bottom: 5%; /* Margin between the login form and the footer */
}

.login .logo_login{
    text-align: center;
}

.logo_login img{
    width: 200px;
    height: 200px;
    border-radius: 70%;
}
.login .login_form{
    background-color: rgba(51, 51, 51, 1);
    border: 1px solid rgba(51, 51, 51, 1);
    border-radius: 7%;
    width: 27%;
    margin: auto;
    margin-top: 5%;
}

.login_form #login-form{
    margin: auto;
    width: 60%;
    margin-top: 15%;
    margin-bottom: 3%;
}

.login_form #login-form button{
    margin: auto;
    width: 100%;
    background-color: #652D90;
    color: white;
    font-size: 21px;
    border-color:#652D90;
    cursor: pointer;
    margin-top: 5%;
}

.login_form #login-form .etc-login-form{
    margin-top: 15%;
    font-size: 12px;
    color: white;
    text-align: center;
}

.login_form #login-form .etc-login-form a{
    margin-top: 15%;
    font-size: 12px;
    color: white;
    text-align: center;
    text-decoration: none;
}



body .form-control{
    background-color: transparent;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0);
    border-bottom-color: black;
    border-radius: 0%;
    cursor: pointer; 
}

body #login-form input:focus{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: transparent;
    color: white;
    box-shadow: 0 0 0;
    height: auto;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom-color: black;
}
body .form-control::placeholder{
    color: white;
    font-family: FontAwesome;
    font-size: 20px;
}

