.profile_form{
    display: none;
}

.prof_nav{
    font-family: trebuchet ms;
    height: 100%;
    overflow: hidden;
    margin: 0 auto; 
    margin-top: 15%;
    margin-bottom: 15%;
    width: 90%;
    background-color: grey;
    border: 2px solid #652D90;
    border-radius: 10px;
}

.prof_nav .ru_nav.navigate li{
    padding-left: 11px;
}

.profile {
    }
@media only screen and (min-width: 760px) {
    .prof_nav{
        margin-top: 15%;
        margin-bottom: 15%;
        width: 90%;
        background-color: grey;
        border: 2px solid #652D90;
        height: 50%;
        border-radius: 25px;
    }
    .profile {
    } 
}

.profile .propic {
    text-align: center;
    float: none;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
}
.profile .propic img {
    height: 150px;
    width: 150px;
    border-radius: 70%;
    border: 1px solid #652D90; 
}

@media only screen and (min-width: 770px) {
    .profile .propic {
        float: left;
        width: 37%; }
    .profile .propic{
        margin-top: 10%;
    }
    .profile .propic img {
    height: 270px;
    width: 270px; } 
}

@media only screen and (min-width: 1550px){
    .profile .propic{
        margin-top: 5%;
    }
}
.profile .personal_details {
    text-align: center;
    float: none; 
    width: 100%;
    margin: 0 auto;
    overflow: hidden;}
    @media only screen and (min-width: 770px) {
    .profile .personal_details {
        text-align: left;
        width: auto; 
        float: left;
        width: 50%;
        margin: 0 auto;
        overflow: hidden;
        padding: 15px;
    } 
}

body hr{
    border-color: #652D90; 
}

.Logged_Navigate{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin:  0 auto;
    padding: 10px;
}
.Logged_Navigate .Navigate{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;

}

.Show .show_info.profile{
    height: auto;
}
.Logged_Navigate .Navs{
    float: left;
    padding: 10px;
    border-radius: 70%;
    position: relative;
    overflow: hidden;
    margin:  0 auto;
    border-color: #652D90;
    text-align: center;
}

body .Logged_Navigate .Navs img{
    height: 300px;
    width: 300px;
    border-radius: 70%;
    cursor: pointer;
}

@media only screen and (max-width: 780px){
    .Logged_Navigate{
        height: 100%;
    }
    .form-group.btns{
        margin: 0 auto;
        text-align: center;
        position: relative;
        overflow: hidden;
        padding: 10px;
    }

    .profile .propic{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .Logged_Navigate .Navigate{
        width: 100%;
    }
    .Logged_Navigate .Navs{
        float: none;
        height: 100%;
        position: relative;
        overflow: hidden;
        margin:  0 auto;
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    body .Logged_Navigate .Navs img{
        height: 200px;
        width: 200px;
    }
    .Logged_Navigate .Navs #users, .Logged_Navigate .Navs #venues, .Logged_Navigate .Navs #messages{
        float: none;
        text-align: center;
        width: 100%;
    }

}



body .personal_details .form-control{
    background-color: transparent;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0);
    border-bottom-color: #652D90;
    border-radius: 0%;
    cursor: pointer; 
}

.personal_details #Update{
    display: none;
}
.personal_details #Cancel{
    display: none;
    margin-left: 10px;
}

.personal_details #Tools{
    margin-left: 10px;
}

.personal_details button{
    float: left;
}

