@font-face {
    font-family: "myFont";
    src: url('../lemonmilk.otf');
}

.header{
    font-family: myFont;
}

.p_space h1 {
    font-size: 25px;
}

.ru_nav{
    font-family: myFont;
}

body .add.r_event{
    width: 50%;
    padding: 0px;
    height: auto;
}

.ranking_list{
    border: 4px solid #652D90;
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 25px;
}
.heading{
    height: 50%;
}

.rank{
    height: 50%;
}
body .add.r_event .form.r_event{
    padding-left: 150px;
}

body .add.r_event .info.r_event{
    padding-left: 50px;
}

@media only screen and (max-width: 1017px){
    body .add.r_event{
        width: 80%;
    }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.left_side {
    text-align: right;
    font-weight: bold;
    text-align: right;
    padding: 10px;
    width: 40%;
}

.right_side {
    text-align: left;
    padding: 10px;
    width: 60%;
}

tr:nth-child(even) {
    background-color: #b3b3b3;
}

tr:nth-child(odd) {
    background-color: #e6e6e6;
}

.report.r_event{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width:100%
}

body .button.player{
    padding: 25px;
}

#something{
    color: white;
}

#event_name{
    font-family: myFont;
}

h1 {
    display: inline;
}

p{
    display: inline;
}

#event_name2{
    font-weight: bold;
}

.report.r_event th{
    font-family: myFont;
    text-align: center;
}

body .header {
    background-image: url('../../images/Ranking Page.png');
    background-size: cover;
}

.stand{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width:100%;
    height: 30px;
    background-color: #333;
}

.trans{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width:100%;
    padding: 5px;
}

.ranking_list{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width:100%;
}

.p_space{
    padding: 5px 5px 0px 5px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width:33.33%;
    float:left;
    height: 100%;
}

.p_space .heading{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width:100%;
    color: white;
    text-align: center;
}

.p_space .heading .points{
    color: grey;
}

.p_space .rank{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width:100%;
    text-align: center;
    color: purple;
    height: 100%;
    bottom: 0;
}

.p_space .rank.first{
    height: 50%;
}

.heading p{
    display: block;
}

.rank img{
    width: 100px;
    height: 100px;
    padding: 10px;
}