@font-face {
    font-family: "myFont";
    src: url('../lemonmilk.otf');
}


.search{
    font-family: myFont;
    height: 300px;
    padding-top: 5%;
}

.search button{
    border-radius: 30px;
    width: 200px;
}

.search form table tr{
    background-color: transparent;
}

.search form table label{
    color: white;
}

.ru_nav{
    font-family: myFont;
}



.schedule_wall{
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.schedule_wall .compt_info .event_det.type .info{
    color: green;
}

.schedule_wall .active{
    background-color: #652D90;
}

.schedule_wall{
    font-family: myFont;
}

.schedule_wall .head{
    color: white;
    font-weight: bold;
    background-color: #652D90;
}

.schedule_wall .compt_info{
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 40%;
    float: left;
}

.schedule_wall .compt_info .info{
    color: white;
}

.schedule_wall .compt_info .ev_cpt{
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 50%;
    margin-top: 40px;
}

.schedule_wall .compt_info .ev_cpt .compt_date{
    background-color: #652D90;
    text-align: center;
    padding: 7px;
    margin-bottom: 12px;
}

.schedule_wall .nav_btn{
    margin-top: 30px;
}


.schedule_wall .nav_btn button#prev{
    margin-right: 3px;
}
.schedule_wall .nav_btn button{
    border-radius: 35px;
    width: 130px;
}
@media only screen and (min-width: 1440px){
    .schedule_wall .nav_btn button#prev{
        margin-right: 40px;
    }
    .schedule_wall .nav_btn button{
        border-radius: 35px;
        width: 170px;
    }
}
.schedule_wall .nav_btn table.table_btn td{
    padding: 0;
}

.schedule_wall .nav_btn table.table_btn tr{
    background-color: transparent;
}

.schedule_wall .compt_list{
    margin: 0 auto;
    width: 60%;
    position: relative;
    overflow: hidden;
    float: left;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #333333;
}

.schedule_wall .compt_list .compt_name, .schedule_wall .compt_list .compt_time{
    color: white;
}

.schedule_wall .compt_list .compt_type{
    font-weight: bold;
    color: black;
}

.schedule_wall .compt_list .compt_name{
    border-right: 7px solid rgba(0, 0, 0, 0.5);
}
.schedule_wall .compt_list .compt_time{
    border-left: 7px solid rgba(0, 0, 0, 0.5);
}



body .add.event{
    width: 70%;
}

body .add.event .form.event{
    padding-left: 150px;
}

body .add.event .info.event{
    padding-left: 50px;
}

body .add.event .button.event{
    right: 60px;
}

@media only screen and (max-width: 1017px){
    body .add.event{
        width: 80%;
    }
    body .add.event .form.event{
        padding-left: 100px;
    }
    body .add.event .button.event{
        right: 40px;
    }
    body .add.event .form.event .form-control{
        margin-right: 1px;
    }
}

table {
    width: 100%;
}

td, th {
    padding: 10px;
}

.left_side {
    text-align: right;
    font-weight: bold;
}

.right_side {
    text-align: left;
}

.search{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6);
}


.search
.information{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 50%;
    float: left;
}

#previous_button{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 50%;
    float: left;
}

.img_results{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 50%;
    float: left;
}

#next_button{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 50%;
    float: left;
}

.left_side {
    text-align: left;
    font-weight: bold;
    padding: 10px;
    width: 70%;
}

.right_side {
    text-align: left;
    padding: 10px;
    width: 30%;
}

.header{
    background-color: #333333;
    text-align: center;
    padding: 15px;
    color: black;
    font-family: myFont;
}

.event_details{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 50%;
    float: left;
}

.event_list{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 50%;
    float: left;
}

table tr:nth-child(even) {
    background-color: #b3b3b3;
}

table tr:nth-child(odd) {
    background-color: #e6e6e6;
}
