@font-face {
    font-family: "myFont";
    src: url('../lemonmilk.otf');
}

.wall{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.wall .directions{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 30%;
    float: left;
    height: 520px;
    border: 5px solid #652D90;
    border-bottom-left-radius: 27px;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;

}

.wall .directions .d_info h1{
    font-family: myFont;
    color: #652D90;
}

.wall .directions .d_info{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    color: white;
    font-family: Helvetica, sans-serif;
    width: 85%;
    margin-top: 12%;
}

.wall #map{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 70%;
    float: left;
    height: 520px;
    border-bottom-right-radius: 27px;
    background-color: #652D90;
    border: 5px solid #652D90;
    border-top: 0px;
    border-right: 0px;
}

.wall .Logo_placement{
    position: absolute;
    z-index: 100;
    top: 65%;
    left: 24.5%;
    opacity: 0.9;
}

@media only screen and (min-width: 1440px){
    .wall .Logo_placement{
        top: 37%;
    }
}

.wall .Logo_placement img{
    width: 150px;
    height: 150px;
    border-radius: 70%;
    cursor: pointer;
    border-color: transparent;
}


.search{
    font-family: myFont;
    margin: 0 auto;
    border-radius: 25px;
    text-align: center;
    overflow: hidden;
    position: relative;
    width: 50%;
    cursor: pointer;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    border: 3px solid #652D90; 
}

.search a{
    text-decoration: none;   
}



.ru_nav{
    font-family: myFont;
}



.schedule_wall{
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.schedule_wall .compt_info .event_det.type .info{
    color: green;
}

.schedule_wall .active{
    background-color: #652D90;
}

.schedule_wall{
    font-family: myFont;
}

.schedule_wall .head{
    color: white;
    font-weight: bold;
    background-color: #652D90;
    font-family: myFont;
    padding-left: 20px;
}

.schedule_wall .compt_info{
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 40%;
    float: left;
}

.schedule_wall .compt_info .info{
    color: black;
}

.schedule_wall .compt_info .ev_cpt{
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 50%;
    margin-top: 30px;
}
.schedule_wall .compt_info .ev_cpt .table_event td{
    font-family: Helvetica, sans-serif;
    padding-left: 20px;
}



.schedule_wall .compt_info .ev_cpt .compt_date{
    background-color: #652D90;
    text-align: center;
    padding: 7px;
    margin-bottom: 12px;
}

.schedule_wall .nav_btn{
    margin-top: 30px;
}


.schedule_wall .nav_btn button#prev{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.schedule_wall .nav_btn button#next{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.schedule_wall .nav_btn button{
    width: 134px;
    border-radius: 0px;
}
@media only screen and (min-width: 1440px){
   

}
.schedule_wall .nav_btn table.table_btn td{
    padding: 0;
}

.schedule_wall .nav_btn table.table_btn tr{
    background-color: transparent;
}

.schedule_wall .compt_list{
    margin: 0 auto;
    width: 60%;
    position: relative;
    overflow: hidden;
    float: left;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #333333;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
}

.schedule_wall .compt_list .compt_name, .schedule_wall .compt_list .compt_time{
    color: black;
}

.schedule_wall .compt_list .compt_type{
    font-weight: bold;
    color: #652D90;
    font-family: myFont;
}

.schedule_wall .compt_list .compt_name{
    border-right: 7px solid rgba(0, 0, 0, 0.5);
}
.schedule_wall .compt_list .compt_time{
    border-left: 7px solid rgba(0, 0, 0, 0.5);
}



body .add.event{
    width: 70%;
}

body .add.event .form.event{
    padding-left: 150px;
}

body .add.event .info.event{
    padding-left: 50px;
}

body .add.event .button.event{
    right: 60px;
}

@media only screen and (max-width: 1017px){
    body .add.event{
        width: 80%;
    }
    body .add.event .form.event{
        padding-left: 100px;
    }
    body .add.event .button.event{
        right: 40px;
    }
    body .add.event .form.event .form-control{
        margin-right: 1px;
    }
}

table {
    width: 100%;
}

td, th {
    padding: 10px;
}

.left_side {
    text-align: right;
    font-weight: bold;
}

.right_side {
    text-align: left;
}



.information{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 50%;
    float: left;
}

#previous_button{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 50%;
    float: left;
}

.img_results{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 50%;
    float: left;
}

#next_button{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 50%;
    float: left;
}

.left_side {
    text-align: left;
    font-weight: bold;
    padding: 10px;
    width: 70%;
}

.right_side {
    text-align: left;
    padding: 10px;
    width: 30%;
}

.header{
    background-color: #333333;
    text-align: center;
    padding: 15px;
    color: black;
    font-family: myFont;
}

.event_details{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 50%;
    float: left;
}

.event_list{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 50%;
    float: left;
}

table tr:nth-child(even) {
    background-color: #b3b3b3;
}

table tr:nth-child(odd) {
    background-color: #e6e6e6;
}

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}

#search .close:hover{
    color: #652D90;
}
