body{
    background: #ffffff url("../images/1.png") no-repeat right top;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

body p{
    word-wrap: break-word;
}

body .add{
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 80%;
    background-color: rgba(0,0,0,0.4);
    padding: 15px 30px 15px 30px;
}

body .add .form{
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 90%;
    text-align: center;

}
body .add .form .form-group .form-control{
    width: 400px;

}

body .add .form .form-group label{
    text-align: right;
}

body .add .button{
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

body .add .button button{
    width: 400px;
    cursor: pointer;
    background-color: #652D90;
    color: white;
    border-color: #652D90;
}
body .report{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width:100%
}

body .left_side {
    text-align: right;
    font-weight: bold;
    padding: 10px;
    width: 40%;
}

body .right_side {
    text-align: left;
    padding: 10px;
    width: 60%;
}


.info h1{
    font-weight: bold;
    color: white;
    display: inline;
}

.info #event_name{
    font-weight: bold;
    color: black;
    display: inline;
}

.info p{
    color: black;
    display: inline
}